body {
	margin:0;
	padding:0;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.wrapper_header {z-index:10 !important;}
	.header_general {z-index:11 !important;}
	.menu_quick_access {z-index:14 !important;}
	.searchForm {z-index:12 !important;}
	.menu_general {z-index:13 !important;}
.breadcrumb {z-index:5 !important;}
.wrapper_content {z-index:1 !important;}
.wrapper_content select {z-index:1 !important;}
.vBlock {
	display:block;
	width:960px;
	margin:0 auto;
	padding:0;
	clear:both;
}
#wrapper_site {
	position:relative;
	margin:0;
	padding:0;
	background:url("../img/bg_wrapper_content.png") center top repeat-y;
	overflow:hidden;
}
#wrapper_site.home {
	background:none !important;
}
.wrapper_header {
	background:#fff;
}
.wrapper_content {
	position:relative;
}
.wrapper_content.content_black {
	background:#2d2d2d url('../img/bg_home_article.png') repeat-x;
}
.wrapper_content.content_magazine {
	background:#fff;
}
.middle_background,
.home_background,
.home_article_background {
	position:absolute;
	right:50%;
	width:500%;
	height:100%;
	list-style:none;
	z-index:0;
}
.middle_background {
	background:url('../img/bg_menu_left.gif') repeat-x #3d8312;
	-webkit-box-shadow:#495810 -257px 0px 5px;
	-moz-box-shadow:#495810 -257px 0px 5px;
	box-shadow:#495810 -257px 0px 5px;
	behavior:url('js/libs/PIE/PIE.php');
}
.home_background {
	background:url('../img/bg_menu_left.gif') repeat-x #3d8312;
	margin-right:-254px;
}
.home_article_background {
	background:url('../img/bg_home_article.png') repeat-x #2d2d2d;
	margin-right:-367px;
}
.wrapper_content .vBlock {
	position:relative;
	background:url("../img/bg_wrapper_content_vblock.png") 50% 0 repeat-y;
	z-index:10;
}
.wrapper_content .vBlock.vFull {
	background:url("../img/bg_wrapper_content_vfull.png") 50% 0 repeat-y !important;
}
.home .wrapper_content .vBlock {
	background:none !important;
}
.notop {
	margin-top:0px !important;
}

/*--- [HEADER MENU ACCESSIBILITE] ---*/
.menu_access {
	background-color:#000;
	color:#fff;
}
.menu_access ul {
	text-align:right;
	list-style:none;
	padding:0;
	font-size:.7em;
	padding:3px 0 7px 0;
}
.menu_access ul li {
	display:inline;
}
.menu_access ul li.leftside {
	float:left;
	padding-left:25px;
}
.menu_access ul li a {
	text-decoration:none;
	color:#fff;
}
.menu_access ul li a:hover {
	text-decoration:underline;
	color:#fff;
}
/*--- [/HEADER MENU ACCESSIBILITE] ---*/

/*--- [HEADER GENERAL] ---*/
.header_general {
	position:relative;
	display:block;
}
.header_general h1 {
	margin:0;
}
.header_general .logo_site,
.header_general .logo_site:hover {
	display:block;
	position:relative;
	float:left;
	margin-top:30px;
	color:#fff;
	text-decoration:none;
}

/*--- [MENU SOCIAL] ---*/
.header_general .menu_social {
	font-family:"Lucida Grande", Arial, sans-serif;
	display:block;
	float:right;
	clear:right;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right:0;
	padding-top:12px;
	font-size:.7em;
	letter-spacing:1px;
	margin-bottom:12px;
}
.header_general .menu_social, .header_general .menu_social a {
	text-decoration:none;
	color:#343434;
}
.header_general .menu_social li {
	display:block;
	float:left;
	margin-left:12px;
}
.header_general .menu_social li.newsletter {
	padding-right:21px;
}
/*--- [/MENU SOCIAL] ---*/

/*--- [MENU D'ACCESS RAPIDE] ---*/
.header_general .menu_quick_access {
	clear:right;
	position:relative;
	float:right;
	margin-bottom:12px;
	width:175px;
	border:1px solid #bbb;
}
.header_general .menu_quick_access span {
	display:block;
	float:left;
	width:144px;
	background:#fff;
	padding:5px 0 5px 4px;
	line-height:1em;
	font-size:.7em;
	letter-spacing:1px;
}
.header_general button {
	float:right;
	display:block;
	background:#000;
	width:27px;
	height:24px;
	border:1px solid #000;
	border-left:0;
}
.header_general .menu_quick_access ul {
	position:absolute;
	width:148px;
	margin:0;
	padding:0;
	display:block;
	left:-999999px;
	width:148px;
	top:25px;
	z-index:100000;
	background:#fff;
	border:1px solid #bbb;
	border-top:0;
	margin-top:-1px;
}
.header_general .menu_quick_access:hover ul,
.header_general .menu_quick_access:focus ul,
.header_general .menu_quick_access ul:focus,
.header_general .menu_quick_access.opened ul {
	left:-1px;
}
.header_general .menu_quick_access ul li {
	font-size:.7em;
	letter-spacing:1px;
}
.header_general .menu_quick_access ul li a {
	color:#393939;
	text-decoration:none;
	display:block;
	padding:5px 0 5px 4px;
}
.header_general .menu_quick_access ul li a:hover {
	background:#999999;
}
.header_general .menu_quick_access li {
	display:block;
}
/*--- [/MENU D'ACCESS RAPIDE] ---*/

/*--- [FORMULAIRE DE RECHERCHE] ---*/
.header_general .searchForm {
	clear:right;
	position:relative;
	float:right;
	margin-bottom:38px;
	width:175px;
	border:1px solid #bbb;
}
.header_general .searchForm label {
	position:absolute;
	top:5px;
	line-height:1em;
	font-size:.7em;
	letter-spacing:1px;
	white-space:nowrap;
}
.js .header_general .searchForm label {
	left:6px;
}
.no-js .header_general .searchForm label {
	right:185px;
}
.header_general .searchForm input {
	display:block;
	float:left;
	width:144px;
	border:0px solid #000;
	background:#fff;
	padding:5px 0 5px 4px;
	line-height:1em;
	font-size:.6em;
	letter-spacing:1px;
}
/*--- [/FORMULAIRE DE RECHERCHE] ---*/

/*--- [MENU GENERAL] ---*/
.menu_general {
	background:#2e75b3;
	clear:both;
	list-style:none;
	position:relative;
	margin:0;
	padding:0;
}
.menu_general > li {
	float:left;
	margin:0;
	border-top:4px solid #175586;
	border-right:1px solid #195c89;
	border-left:1px solid #579cc5;
	border-bottom:1px solid #5f93c2;
	background:#2e75b3;
	text-align:center;
	z-index:100;
}
.menu_general > li.activated, .menu_general > li.selected, .menu_general > li:hover {
	border-top-color:#61731d;
	border-right-color:#657b16;
	border-left-color:#a1bb5a;
	border-bottom-color :#a5b962;
	background:#7fac17;
}
.menu_general > li > a {
	position:relative;
	display:block;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	padding-top:10px;
	padding-bottom:7px;
	border-bottom:1px solid #18445f;
	font-size:.8em;
	font-weight:bold;
	z-index:200;
}
.menu_general > li > span {
	display:block;
	text-transform:uppercase;
	position:absolute;
	color:#000;
	text-decoration:none;
	padding-top:9px;
	padding-bottom:7px;
	font-size:.8em;
	font-weight:bold;
	margin-left:1px;
}
.menu_general > li > a img {
	display:block;
}
.menu_general > li > a .arrow_menu {
	position:absolute;
	display:none;
	margin-left:-11px;
	left:50%;
	top:100%;
}
.menu_general > li:hover .arrow_menu, .menu_general > li.selected .arrow_menu {
	display:block;
}
/*--- gestion des sous menus ---*/
.menu_general .submenu {
	position:absolute;
	left:-999999px;
	top:41px;
	width:100%;
	background:#fff url('../img/bg_submenu.gif') repeat-y;
	margin:0;
	padding:0;
	list-style:none;
	text-align:left;
	border-bottom:4px solid #7fac17;
	z-index:100;
}
.menu_general > li:hover .submenu,
.menu_general > li.selected .submenu {
	left:0px;
}
.menu_general .submenu .menu_col_left {
	float:left;
	width:703px;
	padding:2px 17px 0 16px;
}
/*--- Header de sous-menu ---*/
.menu_general .submenu .menu_header {
	position:relative;
	border-bottom:2px solid #7fac17;
	margin-bottom:16px;
}
.menu_general .submenu .menu_header a {
	position:absolute;
	top:8px;
	font-size:.5em;
	text-decoration:none;
	color:#606060;
}
.menu_general .submenu .menu_header a:hover {
	text-decoration:underline;
	color:#606060;
}
.menu_general .submenu .menu_header .menu_title {
	display:block;
	float:right;
	text-align:right;
	width:inherit;
	font-weight:bold;
	font-size:2.1em;
	text-transform:uppercase;
	padding:32px 0 17px 0;
	color:#7fac17;
	border-bottom:1px solid #7fac17;
	width:701px;
}
.menu_general .submenu .menu_header .menu_image {
	position:absolute;
	bottom:1px;
	left:0;
}
/*--- Liste des liens du sous menu ---*/
.menu_general .submenu .menu_list {
	clear:both;
	list-style:none;
	margin:0;
	padding:0;
}
.menu_general .submenu .menu_list > li {
	list-style:none;
	float:left;
	width:219px;
	color:#7fac17;
	margin:0 22px 31px 0;
}
.menu_general .submenu .menu_list > li strong {
	display:block;
	font-weight:normal;
	border-bottom:1px solid #7fac17;
	font-size:1em;
	letter-spacing:.08em;
}
.menu_general .submenu .menu_list > li.last_line {
	margin-right:0;
}
.menu_general .submenu .menu_list > li.fisrt_line {
	clear:left;
}
.menu_general .submenu .menu_list > li > ul {
	clear:both;
	margin:0;
	padding:0;
	list-style:none;
}
.menu_general .submenu .menu_list > li > ul > li {
	border-bottom:1px solid #d1d1d1;
	padding:5px 0 5px 0;
	font-size:.8em;
}
.menu_general .submenu .menu_list > li > ul > li a {
	text-decoration:none;
	color:#3b3b3b;
	font-weight:normal;
}
.menu_general .submenu .menu_list > li > ul > li a:hover {
	text-decoration:underline;
}
/*--- Menu col right ---*/
.menu_general .submenu .menu_col_right {
	float:right;
	width:192px;
	padding:19px 16px;
}
/*--- Article ---*/
.menu_general .submenu .menu_col_right .article {
	margin-bottom:23px;
}
.menu_general .submenu .menu_col_right .article strong a {
	display:block;
	font-size:.8em;
	line-height:1.3em;
	color:#3c76a4;
	margin-bottom:10px;
	font-weight:normal;
	text-decoration:none;
	cursor:default;
}
.menu_general .submenu .menu_col_right .article p {
	font-size:.7em;
	line-height:1.34em;
	margin:0 0 8px 0;
}
.menu_general .submenu .menu_col_right .article .lire_la_suite {
	font-size:.7em;
	text-decoration:none;
	background:url('../img/right_arrow_link.png') no-repeat 100% 50%;
	color:#0078bd;
	padding-right:10px;
}
.menu_general .submenu .menu_col_right .article .lire_la_suite:hover {
	text-decoration:underline;
}
/*--- Encadré ---*/
.menu_general .submenu .menu_col_right .encadre {
	display:block;
	background:#8da728;
	border:1px solid #b3b6ad;
	text-decoration:none;
	width:188px;
	margin-bottom:20px;
}
.menu_general .submenu .menu_col_right .encadre img {
	display:block;
	float:left;
	margin-right:15px;
}
.menu_general .submenu .menu_col_right .encadre span {
	display:block;
	margin:20px 14px 0 0;
	font-size:.8em;
	color:#fff;
	width:80px;
	float:left;
}
.menu_general .submenu .menu_col_right .encadre:hover span {
	text-decoration:underline;
}
/*--- calibrage des menus ---*/
.menu_general .menu_home {
	height:36px;
	overflow:hidden;
}
.menu_general .menu_home a {
	text-indent:-99999px;
	display:block;
	line-height:0em;
	background:url('../img/home.gif') no-repeat 50% 50%;
	width:41px;
	height:35px;
	padding:0;
}
.menu_general .menu_home.activated a,
.menu_general .menu_home.selected a,
.menu_general .menu_home:hover a {
	background-image:url('../img/home_on.gif');
}
.menu_general .menu_votre_collectivite > a,
.menu_general .menu_votre_collectivite > span {
	width:163px;
}
.menu_general .menu_education_et_jeunesse > a,
.menu_general .menu_education_et_jeunesse > span {
	width:172px;
}
.menu_general .menu_solidarite > a,
.menu_general .menu_solidarite > span {
	width:99px;
}
.menu_general .menu_cadre_de_vie > a,
.menu_general .menu_cadre_de_vie > span {
	width:107px;
}
.menu_general .menu_economie_et_emploi > a,
.menu_general .menu_economie_et_emploi > span {
	width:158px;
}
.menu_general .menu_sport_et_loisirs > a,
.menu_general .menu_sport_et_loisirs > span {
	width:125px;
}
.menu_general .menu_culture > a,
.menu_general .menu_culture > span {
	width:79px;
}
/*--- [/MENU GENERAL] ---*/
/*--- [/HEADER GENERAL] ---*/

/*--- [FIL D'ARIANNE] ---*/
.breadcrumb {
	background:url('../img/bg_breadCrumb.gif') repeat-x #7fac17;
}
.breadcrumb ul {
	list-style:none;
	margin-top:0;
	margin-bottom:0;
	font-weight:normal;
	padding:10px 0;
}
.breadcrumb ul li {
	display:inline;
	color:#fff;
	font-size:.8em;
}
.breadcrumb ul li a, .breadcrumb ul li .separateur {
	text-decoration:none;
	color:#dbe9b8;
}
.breadcrumb ul li a:hover {
	text-decoration:underline;
}
/*--- [/FIL D'ARIANNE] ---*/

/*--- [FOOTER GENERAL] ---*/
.footer1 ul, .footer2 ul {
	list-style:none;
}
.footer1 {
	text-align:right;
	background:#1d1d1d;
	border:1px solid #838383;
	border-right:0;
	border-left:0;
	border-bottom:0;
}
.footer1 ul {
	padding:15px 0 18px 0;
	margin-top:0;
	margin-bottom:0;
}
.footer1 ul li {
	display:inline;
	color:#7fac17;
	padding:0;
	margin:0;
}
.footer1 ul li a {
	color:#7fac17;
	text-decoration:none;
	font-size:.8em;
	text-transform:uppercase;
}
.footer1 ul li a:hover {
	text-decoration:underline;
}
.footer1 ul li.last-child {
	border-right:0;
	padding-right:0;
}
.footer1 ul li.last-child a {
	margin-right:0;
}
.footer2 {
	position:relative;
	border-top:1px solid #fff;
	background:#111;
}
.footer2 .logo_footer {
	float:left;
	margin:14px 0;
}
.footer2 .logo_footer a,
.footer2 .logo_footer a:hover {
	color:#000;
	text-decoration:none;
}
.footer2 .copyright {
	float:right;
	margin:23px 0;
	font-size:.8em;
	color:#fff;
}
/*--- [/FOOTER GENERAL] ---*/

/*--- [GESTION DU CONTENU DE GAUCHE] ---*/
.menu_left {
	position:relative;
	left:0;
	margin:0 0 0 0;
	padding:0 18px 25px 0;
	float:left;
	/*background:url('../img/bg_menu_left.gif') repeat-x #3d8312;*/
	list-style:none;
	color:#fff;
	width:206px;
}
.menu_left .title_rub {
	background:none !important;
	position:relative;
	padding:35px 0 1px 0;
	font-size:1.9em;
	line-height:1.1em;
	text-transform:uppercase;
}
.menu_left .title {
	position:relative;
	z-index:1;
}
.menu_left .shadow {
	display:block;
	position:absolute;
	color:#000000;
	margin-top:-1px;
	z-index:0;
}
.menu_left .img_rub {
	display:block;
}
.menu_left a {
	display:block;
	color:#fff;
	text-decoration:none;
}
.menu_left li {
	background:transparent url('../img/menu_left.png') repeat-x left top;
}
.menu_left > li > a {
	padding:13px 31px;
}
.menu_left > li > a.menuLeftItem {
	background:url('../img/menu_left_arrow.gif') no-repeat 0 18px;
}
.menu_left > li.opened > a {
	background-image:url('../img/menu_left_arrow_down.gif');
}
.menu_left > li.opened > ul {
	display:block;
}
.menu_left ul {
	display:none;
	list-style:none;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
.no-js .menu_left ul {
	display:block;
}
.menu_left ul li a {
	font-size:.9em;
	padding:10px 14px 9px;
}
.menu_left li a:hover {
	text-decoration:underline;
}
.menu_left li.selected a {
	background:#ffffff;
	color:#000000;
	cursor:default;
}
.menu_left li.selected a:hover {
	text-decoration:none;
}
/*--- [/GESTION DU CONTENU DE GAUCHE] ---*/

/*--- [CONTENU GENERAL] ---*/
.page_content {
	position:relative;
	display:block;
	padding:0 18px;
	width:700px;
	background:#fff url('../img/bg_article_content.gif') repeat-y;
	min-height:100%;
	z-index:10000;
	float:right;
}
.vFull .page_content {
	background:transparent none repeat-y !important;
	float:none !important;
	width:920px !important;
}
.content_magazine .page_content.magazineaccueil {
	background:transparent none repeat-y !important;
	padding:0 0 !important;
	width:630px !important;
}
.content_magazine .page_content.magazinecontent {
	background:#fff none repeat-y !important;
	padding:0 0 !important;
	width:630px !important;
}
/*--- Configuration sans le aside ---*/
.article .col_left {
	float:none;
	width:auto;
	margin-bottom:20px;
}
.article .col_gray {
	background:#ededed;
	padding:10px 15px;
	margin-bottom:20px;
}
.article.asideAds .aside {
	display:none;
}
/*--- Configuration avec le aside ---*/
.article.asideAds .col_left {
	float:left;
	width:455px;
}
.article.asideAds .aside {
	display:block;
	float:right;
	margin-right:10px;
	width:205px;
}
/*--- [/CONTENU GENERAL] ---*/

/*--- [PAGE ARTICLE] ---*/
/*--- [BOITE A OUTILS] ---*/
.toolBox {
	position:relative;
	float:right;
	clear:right;
	margin:26px 0 0 0;
	padding:0 0 0 0;
	list-style:none;
}
.deliberation .toolBox {
	margin-top:15px;
}
.toolBox li {
	float:left;
	border-left:1px solid #383838;
	border-right:1px solid #fff;
	background-color:#d7d7d7;
}
.toolBox li.zoomIn,
.toolBox li.zoomOut,
.toolBox li.print,
.toolBox li.share,
.toolBox li.pdf {
	height:38px;
}
.toolBox .zoomIn a, .toolBox .zoomOut a {
	font-weight:bold;
}
.no-js .toolBox .zoomIn, .no-js .toolBox .zoomOut {display:none;}
.toolBox .zoomIn {
	border-right:none;
}
.toolBox .zoomOut {
	background-image:url('../img/toolBox_sep.gif');
	background-repeat:no-repeat;
	background-position:left center;
	border-left:none;
	padding-left:2px;
}
.toolBox li a {
	display:block;
	border:0;
	color:#333333;
	font-size:.8em;
	padding:10px 12px;
	text-decoration:none;
}
.toolBox li a:hover {
	background-color:#7fac17;
	color:#fff;
}
.toolBox .print img, .toolBox .share img {
	background:transparent url('../img/toolBox_sep.gif') no-repeat 10px center;
	padding-left:27px;
}
.toolBox .pdf, .toolBox .news {background-color:#fff;}
.toolBox .pdf a {
	display:block;
	padding:10px 0px 12px 10px;
	background-color:#fff;
}
.toolBox .pdf img {
	display:block;
}
.toolBox .news {
	font-size:.8em;
	border-left:0px;
}
.toolBox .news select {
	margin-left:10px;
}
/*--- [/BOITE A OUTILS] ---*/
/*--- [RSSFEED] ---*/
.rssFeed {
  float:right;
  list-style:none;
  margin:20px 0;
  padding:0;
}
.rssFeed li {
  float:left;
}
.rssFeed .image {
  margin:0 10px 0 0;
}
.rssFeed .ritch_text_wrapper {
  font-size:.7em;
  width:218px;
}
.rssFeed .ritch_text_wrapper p {
  margin:0 0;
}
.rssFeed .ritch_text_wrapper a,
.rssFeed .ritch_text_wrapper a:hover {
  color:#000;
  text-decoration:underline;
}
/*--- [/RSSFEED] ---*/

.article .pub_date {
	float:left;
	font-size:.6em;
	margin:53px 0 0 0;
	color:#3170a3;
	font-weight:bold;
}
.article .pub_cat {
	float:left;
	font-size:.6em;
	margin:53px 0 0 0;
	color:#000;
	font-weight:bold;
	text-transform:uppercase;
}
.article h1 {
	clear:both;
	font-size:2em;
	margin:5px 0;
	padding:0;
}
.article.news-list h1 {
	clear:left;
	float:left;
}
.article h1, .article h1 a {
	text-decoration:none;
	cursor:default;
	color:#7fac17;
	font-weight:bold;
}
.article .chapeau {
	font-size:.9em;
	margin:0 0 12px 0;
}
.article .image_top {
	margin-bottom:20px;
}
.article .image_top .image {
	background:#317dbb;
	text-align:center;
}
.article .image_top > img {
	display:block;
}
.article .image_top img {
	border:0px solid #000;
}
.article .image_top a:hover {
	text-decoration:none;
}
.article .image_top .legend {
	display:block;
	padding:16px;
	margin-bottom:5px;
	color:#fff;
	font-size:.8em;
	line-height:1.6em;
	background-color:#317dbb;
}
.article .image_top .copyright {
	display:block;
	text-align:right;
	font-size:.6em;
	color:#3174a9;
}
.article .ritch_text_wrapper {
	font-size:.9em;
	line-height:1.2em;
	margin-bottom:36px;
}
.article .ritch_text_wrapper.small {
	font-size:.8em;
}
.article .ritch_text_wrapper p {
	margin:0 0 13px 0;
}
.article .hr {
	clear:both;
	margin:0 0 24px 0;
	border-top:0px solid #fff;
	border-right:0px solid #fff;
	border-bottom:1px solid #bbb;
	border-left:0px solid #fff;
}
.article .hr hr {
	display:none;
}
h2.presseaccueil {
	margin:0 0 16px 0;
	font-size:.9em;
}
.article .keywords {
	background:#fff url('../img/bg_keyword.png') repeat-x left top;
	clear:both;
	margin-left:-18px;
	padding:18px;
	width:100%;
}
.article .keywords h2 {
	font-size:1em;
	margin:0 0 6px 0;
}
.article .keywords ul {
	margin:0 0 0 0;
	padding:0 0 0 0;
	list-style:none;
}
.article .keywords ul li {
	display:inline;
}
.article .keywords ul li:after {
	content:",";
}
.article .keywords ul li.last-child:after {
	content:"";
}
.article .keywords ul li a {
	text-transform:uppercase;
	text-decoration:none;
	font-size:.7em;
	font-weight:bold;
	color:#0078bd;
}
.article .keywords ul li a:hover {
	text-decoration:underline;
}
/*--- developpement des asides ---*/
.aside .addBox {
	margin-bottom:23px;
	background:#fff;
	-webkit-box-shadow:#CCC 0 0 10px;
	-moz-box-shadow:#CCC 0 0 10px;
	box-shadow:#CCC 0 0 10px;
	behavior:url('js/libs/PIE/PIE.php');
}
.homepage_content .addBox {
	margin-bottom:33px;
}
.aside .addBox .addTitle {
	display:block;
	border-top:1px solid #1f4962;
	padding:10px 16px;
	background-color:#0078bd;
	text-transform:uppercase;
	font-size:.9em;
	line-height:1em;
	color:#fff;
}
.aside .addBox .lkAfficher {
	padding-left:16px;
}
.aside .addBox .lkAfficher a {
	font-size:.8em;
	text-decoration:none;
	background:url('../img/right_arrow_link.png') no-repeat 100% 50%;
	color:#0078bd;
	padding-right:10px;
	font-weight:bold;
}
.aside .addBox .lkAfficher a:hover {
	text-decoration:underline;
}
/*--- Plus ---*/
.aside .addBox.plus {
	text-decoration:none;
}
.aside .addBox.plus a {
	color:#fff;
	text-decoration:none;
}
/*--- IMAGES ---*/
.aside .addBox.images {
	padding-bottom:2px;
}
.aside .addBox.images ul {
	list-style:none;
	padding:0 0 0 0;
	margin:2px 0 0 0;
}
.aside .addBox.images li {
	float:left;
	margin:0 0 1px 1px;
}
.aside .addBox.images a {
	text-decoration:none;
	display:block;
}
.aside .addBox.images img {
	border:1px solid #ececec;
	width:99px;
}
/*--- FAQ ---*/
.aside .addBox.faq {
	padding-bottom:2px;
}
.aside .addBox.faq ul {
	margin:12px 0 0 0;
	padding:0 5px 0 28px;
	font-size:.8em;
	line-height:1.3em;
	color:#0072b7;
}
.aside .addBox.faq ul li {
	margin-bottom:15px;
}
.aside .addBox.faq ul li a {
	text-decoration:none;
	color:#5c5c5c;
}
.aside .addBox.faq ul li a:hover {
	text-decoration:underline;
}
/*--- Agenda ---*/
.aside .addBox.agenda {
	padding-bottom:12px;
}
.aside .addBox.agenda ul {
	list-style:none;
	margin:8px 0 0 0;
	padding:0 5px 5px 14px;
}
.aside .addBox.agenda ul li {
	margin-bottom:16px;
}
.aside .addBox.agenda ul .date {
	display:block;
	color:#0072b7;
	font-size:.6em;
	font-weight:bold;
}
.aside .addBox.agenda ul a {
	text-decoration:none;
	font-size:.75em;
	line-height:1.2em;
	color:#5c5c5c;
}
.aside .addBox.agenda ul a:hover {
	text-decoration:underline;
}
/*--- Contacts ---*/
.aside .addBox.contacts {
	padding-bottom:1px;
}
.aside .addBox.contacts ul {
	list-style:none;
	margin:8px 0 0 0;
	padding:0 5px 0 14px;
}
.aside .addBox.contacts ul li {
	margin-bottom:16px;
}
.aside .addBox.contacts ul span {
	display:block;
	font-size:.8em;
	font-weight:bold;
}
.aside .addBox.contacts ul .contactname {
	color:#0072b7;
}
/*--- Espace presse ---*/
.aside .addBox.presse {
	padding-bottom:12px;
}
.aside .addBox.presse .actu {
	margin:8px 0 16px 0;
	padding:0 0 5px 16px;
}
.aside .addBox.presse .last, .aside .addBox.presse .date {
	display:block;
	color:#0072b7;
	font-size:.6em;
	font-weight:bold;
}
.aside .addBox.presse .ritch_text_wrapper a {
	text-decoration:none;
	color:#5c5c5c;
}
.aside .addBox.presse .ritch_text_wrapper a:hover {
	text-decoration:underline;
}
.aside .addBox.presse .ritch_text_wrapper a:hover {
	text-decoration:underline;
}
.aside .addBox.presse .ritch_text_wrapper {
	text-decoration:none;
	font-size:.75em;
	padding:5px 0 0 0;
}
/*--- Espace textwrap ---*/
.aside .addBox.textwrap {
	padding-bottom:12px;
}
.aside .addBox.textwrap .ritch_text_wrapper {
	padding:10px 15px 5px;
	font-size:.8em;
	margin-bottom:0px;
}
.aside .addBox.textwrap .ritch_text_wrapper p:last-child {
	margin-bottom:0px;
}
.aside .addBox.textwrap .ritch_text_wrapper a {
	text-decoration:none;
	color:#5c5c5c;
}
.aside .addBox.textwrap .ritch_text_wrapper a:hover {
	text-decoration:underline;
	color:#5c5c5c;
}
.aside .addBox.textwrap .ritch_text_wrapper ul,
.aside .addBox.textwrap .ritch_text_wrapper ol {
	padding-left:10px;
}
/*--- Espace linkimage ---*/
.aside .addBox.linkimage {
	padding-bottom:12px;
}
.aside .addBox.linkimage .lkAfficher {
	padding-top:10px;
}
/*--- Carrousel-Arrow ---*/
.aside .addBox.carrousel-arrow {
	padding-bottom:12px;
	position:relative;
}
.aside .addBox.carrousel-arrow .list_arrows {
	list-style:none;
	padding:0 0 0 0;
	margin:0 0 0 0;
}
.no-js .aside .addBox.carrousel-arrow .list_arrows {
	display:none;
}
.aside .addBox.carrousel-arrow .list_arrows button {
	padding:0 0 0 0;
	margin:0 0 0 0;
	border:0;
	position:absolute;
	top:50%;
	width:25px;
	height:62px;
	margin-top:-31px;
	z-index:10;
}
.aside .addBox.carrousel-arrow .arrow-back button {
	left:0;
}
.aside .addBox.carrousel-arrow .arrow-next button {
	right:0;
}
.js .aside .addBox.carrousel-arrow .carrousel-show {
	overflow:hidden;
	position:relative;
	height:180px;
	display:block;
}
.aside .addBox.carrousel-arrow .image_arrow_wrapper {
	list-style:none;
	padding:0 0 0 0;
	margin:0 0 0 0;
	z-index:2;
}
.js .aside .addBox.carrousel-arrow .image_arrow_wrapper {
	position:absolute;
	left:0;
	top:0;
	width:100000000px;
	height:180px;
}
.js .aside .addBox.carrousel-arrow .image_arrow_wrapper li {
	float:left;
	width:205px;
}
.aside .addBox.carrousel-arrow .image_arrow_wrapper a {
	color:#fff;
	text-decoration:none;
	display:block;
}
.aside .addBox.carrousel-arrow .image_arrow_wrapper a:hover {
	color:#fff;
	text-decoration:underline;
}
.aside .addBox.carrousel-arrow .lkAfficher {
	padding-top:10px;
}
/*--- Carrousel-Dots ---*/
.aside .addBox.carrousel-dots {
	position:relative;
}
.no-js .aside .addBox.carrousel-dots .list_dots {
	display:none;
}
.aside .addBox.carrousel-dots .list_dots {
	border-top:1px solid #1f4962;
	background-color:#317dbb;
	text-transform:uppercase;
	font-size:1em;
	color:#fff;
	line-height:1em;
	padding:12px 16px;
	text-align:center;
}
.aside .addBox.carrousel-dots .list_dots .page-dot {
	border:0px solid #317dbb;
	height:14px;
	width:14px;
	font-size:0em;
	line-height:0em;
	background:url('../img/carrousel-dot.png') no-repeat left top;
	margin:0 2px;
}
.aside .addBox.carrousel-dots .list_dots .page-dot.selected {
	background:url('../img/carrousel-dot-selected.png') no-repeat left top;
}
.js .aside .addBox.carrousel-dots .carrousel-show {
	overflow:hidden;
	position:relative;
	height:257px;
}
.aside .addBox.carrousel-dots .image_dot_wrapper {
	list-style:none;
	padding:0 0 0 0;
	margin:0 0 0 0;
	z-index:2;
}
.js .aside .addBox.carrousel-dots .image_dot_wrapper {
	position:absolute;
	left:0;
	top:0;
	width:100000000px;
	height:257px;
}
.js .aside .addBox.carrousel-dots .image_dot_wrapper li {
	float:left;
	width:205px;
}
.aside .addBox.carrousel-dots .image_dot_wrapper a {
	color:#fff;
	text-decoration:none;
}
.aside .addBox.carrousel-dots .image_dot_wrapper a:hover {
	color:#fff;
	text-decoration:underline;
}
/*--- [/PAGE ARTICLE] ---*/

/*--- [PAGE DOSSIER] ---*/
.article.dossier {
	margin-bottom:48px;
}
.article.dossier .image_top {
	padding-top:10px;
}
.article.dossier .hr {
	clear:both;
	padding:19px 19px 0 19px;
	width:100%;
	margin:0 0 28px -19px;
}
.article.dossier h2 {
	clear:both;
	color:#7fac17;
	font-size:1.3em;
	line-height:.7em;
	margin-bottom:20px;
}
.article_dossier {
	float:left;
	width:218px;
	margin:0 22px 14px 0;
}
.article_dossier .img_dossier {
	margin-bottom:20px;
}
.article_dossier.last {
	clear:right;
	margin-right:0;
}
.article_dossier h3 {
	font-size:1em;
	line-height:1.2em;
	margin:0 0 14px 0;
	min-height:38px;
}
.article_dossier h3 a {
	color:#000;
	text-decoration:none;
}
.article_dossier h3 a:hover {
	color:#000;
	text-decoration:underline;
}
.article_dossier p {
	margin:0;
	padding:0;
	font-size:.9em;
	line-height:1.2em;
}
.article_dossier p a {
	color:#272727;
}
.article_dossier.long {
	width:auto;
	margin-right:0;
	margin-bottom:15px;
}
.article_dossier.search {
	float:none;
	margin-bottom:23px;
	margin-top:-3px;
}
.article_dossier.long .img_dossier {
	margin:4px 23px 0 0;
	float:left;
}
.article_dossier.long .long_descript {
	float:left;
	width:457px;
}
.article_dossier.search .long_descript {
	float:none;
	width:auto;
}
.article_dossier.long h3 {
	margin-bottom:0px;
}
.article_dossier.long p {
	margin-bottom:7px;
}
.article_dossier.long .lkArticleDoss {
	font-size:.9em;
	text-decoration:none;
	padding-left:13px;
	background:url('../img/arrow_lk_article.gif') no-repeat 0 50%;
	color:#2b77b5;
}
.article_dossier.long .lkArticleDoss:hover {
	text-decoration:underline;
}
.article.dossier .slide_show {
	margin-top:50px;
}
/*--- [/PAGE DOSSIER] ---*/

/*--- [HOMEPAGE] ---*/
.home_title {
	background:url("../img/bg_breadCrumb.gif") repeat-x #7fac17;
	height:80px;
}
.homepage_content .col_left {
	float:left;
	width:735px;
	background-color:#3d8312;
}
.homepage_content .aside {
	display:block;
	float:right;
	width:205px;
	padding:15px 0 20px;
}
/*--- [HOMEPAGE] ---*/

/*--- [GALERIE D'IMAGE] ---*/
.slide_show {
	clear:both;
	position:relative;
	margin-left:-19px;
	padding:28px 0 44px 19px;
}
.page_content .slide_show {
	background:#0f100b;
	width:718px;
}
.home_article .slide_show {
	width:716px;
}
/*!!!Laisser l'id du wrapper pour que le style du H2 prenne en priorité les paramètre de la visionneuse et pas ceux de la page!!!*/
#wrapper_site .slide_show h2 {
	color:#fff;
	margin:0 0 19px 0;
}
/*--- Colonne de gauche ---*/
.slide_show .display_image {
	float:left;
	width:458px;
}
.slide_show .wrapper_image {
	margin:0 0 10px 0;
}
.slide_show .wrapper_image a {
	display:block;
}
.slide_show .wrapper_image img {
	display:block;
	margin:auto;
}
.slide_show .copyright {
	display:block;
	color:#fff;
	font-size:.6em;
}
#wrapper_site .page_content .slide_show h3 {
	color:#7fac17;
	margin:0 0 12px 0;
	padding:0;
	font-weight:normal;
	font-size:.9em;
}
#wrapper_site .home_article .slide_show h3 {
	color:#7fac17;
	margin:0 0 12px 0;
	padding:0;
}
.slide_show .image_legend {
	color:#fff;
	font-size:.9em;
	margin:0;
}
/*--- Colonne de droite ---*/
.slide_show .image_selection {
	float:left;
	width:250px;
	padding:16px 0 0 0;
}
.no-js .slide_show .image_selection {
	width:auto;
	padding:16px 0 0 10px;
}
.slide_show .image_selection ul {
	margin:0;
	padding:0;
	list-style:none;
}
#wrapper_site .slide_show .list_scroll {
	margin:0 0 37px 24px;
}
.no-js .slide_show .list_scroll {
	display:none;
}
.slide_show .list_scroll li {
	float:left;
}
.slide_show .list_scroll li button {
	padding:0;
	background:transparent;
	border:0;
	width:48px;
}
.slide_show .list_scroll .back {
	visibility:hidden;
}
.slide_show .list_scroll .counter {
	width:122px;
	text-align:center;
	padding-top:20px;
	color:#7fac17;
	font-size:1.5em;
}
.slide_show  .list_mask {
	margin-left:4px;
}
.js .slide_show  .list_mask {
	position:relative;
	height:168px;
	overflow:hidden;
}
.js .slide_show .image_list_wrapper {
	position:absolute;
	left:0;
	top:1px;
	width:100000000px;
	height:168px;
}
/*#wrapper_site .slide_show .image_list_wrapper {
}*/
.js .batch_img {
	float:left;
	width:240px;
}
.batch_img a {
	display:block;
}
.batch_img a.selected {
	outline:1px solid #fff;
}
.js .batch_img li {
	float:left;
	margin:0 0 23px 22px;
}
.image_list_wrapper .batch_img {
	float:left;
}
.no-js .image_list_wrapper .batch_img li {
	padding:5px;
	float:left;
}
/*--- [/GALERIE D'IMAGE] ---*/

/*--- [HOMEPAGE NEWS] ---*/
.home_news {
	position:relative;
}
.home_news .title {
	color:#ffffff;
	font-size:1.9em;
	position:absolute;
	top:-70px;
	left:0;
}
*+html .home_news .title {
	top:-45px !important;
}
.home_news .title a {
	text-decoration:none;
	cursor:default;
	color:#ffffff;
}
/*--- [CAROUSEL NEWS] ---*/
.carousel_news {
	position:relative;
	width:735px;
	min-height:418px;
	padding-bottom:10px;
}
.carousel_news a {overflow:hidden; text-decoration:none;}
.carousel_news img {left:0; position:absolute; top:0;}
.carousel_news strong {background:#000; color:#fff; line-height:1.2em; padding:1px 5px 0; position:absolute; z-index:2;}
/*--- Filtres ---*/
.carousel_news .filter {position:absolute; text-indent:-9999px; width:100%;}
.carousel_news .filter-normal .filter {background:url('../img/filter-normal.png') repeat top left;}
.carousel_news .filter-light .filter {background:url('../img/filter-dark.png') repeat top left;}
.carousel_news .filter-dark .filter {background:url('../img/filter-light.png') repeat top left;}
.carousel_news .news_1 .filter, .carousel_news .news_3 .filter {height:280px;}
.carousel_news .news_2 .filter, .carousel_news .news_4 .filter, .carousel_news .news_5 .filter {height:140px;}
/*--- Colonnage ---*/
.block_right {
	float:right;
	width:245px;
}
.block_left {
	float:left;
	width:490px;
}
/*--- News ---*/
.news_1, .news_2, .news_3, .news_4, .news_5 {display:block; position:relative;}
.news_1 {
	width:490px;
	min-height:280px;
	float:left;
}
.news_2 {
	min-height:140px;
}
.news_3 {
	min-height:280px;
}
.news_4 {
	float:right;
	width:245px;
	min-height:140px;
}
.news_5 {
	float:left;
	width:245px;
	min-height:140px;
}
.news_1 strong {bottom:20px; font-size:1.6em; left:15px;}
.news_1:hover strong, .news_2:hover strong, .news_3:hover strong, .news_4:hover strong, .news_5:hover strong {text-decoration:underline;}
.news_2 strong {left:10px; top:15px;}
.news_3 strong, .news_4 strong, .news_5 strong {bottom:20px; left:10px;}
/*--- Lire la suite ---*/
.carousel_news span {
	background:url('../img/news_plus.png') no-repeat center center;
	bottom:10px;
	display:block;
	height:33px;
	position:absolute;
	right:18px;
	text-indent:-99999px;
	width:32px;
	z-index:2;
}
/*--- [/CAROUSEL NEWS] ---*/

/*--- [LISTE NEWS] ---*/
.liste_news_all {
	margin-bottom:20px;
  width:491px;
}
.liste_news {
	float:left;
}
.liste_news_news {
	float:left;
	width:225px;
	padding:5px 10px 10px;
}
.liste_news_news > h3 {
	margin:7px 0 13px 7px;
	line-height:1.4em;
	color:#fff;
	font-size:1em;
}
.liste_news_news > h3 a {
	color:#fff;
	text-decoration:none;
}
.liste_news_news > h3 a:hover {
	text-decoration:underline;
}
.liste_news_news > div {
	margin:0 7px;
	color:#fff;
	line-height:1.1em;
}
.liste_news_news div ul {
	padding-left:20px;
}
.liste_news .see_all_news {
	background:#000 url('../img/news_plus_mini.png') no-repeat 90% center;
	padding:0px 47px 0px 15px;
	color:#fff;
	text-decoration:none;
	clear:left;
	float:left;
	margin-left:20px;
	line-height:2.1em;
	white-space:nowrap;
}
.liste_news .see_all_news:hover {
	text-decoration:underline;
}
.liste_news_flux {
	float:right;
	width:224px;
	padding:0 10px 10px;
	margin-top:0;
	list-style:none;
}
.liste_news_flux li {
	border-top:1px solid #fff;
	padding-bottom:20px;
}
.liste_news_flux li.title_rub {
	color:#fff;
	border-top:none;
	line-height:3.1em;
	padding-bottom:5px;
	font-weight:bold;
}
.liste_news_flux h3 {
	color:#000;
	font-size:.6em;
	margin-bottom:4px;
}
.liste_news_flux a {
	color:#fff;
	text-decoration:none;
	line-height:1.3em;
	font-size:.9em;
}
.liste_news_flux a:hover {
	text-decoration:underline;
}
/*--- [/LISTE NEWS] ---*/

/*--- [HOME ARTICLE] ---*/
.home_article {
	background:#2d2d2d;
	position:relative;
	padding-left:18px;
}
.home_footer {
	position:relative;
	padding-left:18px;
	padding-top:30px;
	color:#fff;
}
.home_article .content {
	padding:25px 20px 45px 0;
	z-index:1;
	position:relative;
}
.home_footer .content {
	padding:0 20px 45px 0;
	z-index:1;
	position:relative;
}
.home_article .content.content_full {
	padding:25px 17px 45px 0 !important;
}
.home_footer .content.content_full {
	padding:25px 17px 45px 0 !important;
}
.home_article .content.content_full {
	float:left;
	width:700px;
}
.home_footer .content.content_full {
	float:left;
	width:700px;
}
.home_article .content.content_big {
	float:left;
	width:455px;
}
.home_article .content.content_small {
	float:left;
	width:218px;
}
.home_footer .content.content_small {
	float:left;
	width:205px;
}
.home_article .content.content_menu {
	margin-top:35px;
	color:#fff;
}
.home_footer .content.content_menu {
	margin-top:-10px;
	color:#fff;
}
.content.content_menu li {
	margin-left:20px;
	line-height:1.2em;
	font-size:.9em;
	padding:8px 0 10px 0;
}
.content.content_menu .title_rub {
	list-style:none;
	border-bottom:1px solid #505050;
	position:relative;
	margin-left:0;
	line-height:2em;
	font-size:1.1em;
	padding:0 0 0 0;
	height:51px;
}
.content.content_menu .title_rub .title {
	display:block;
	padding-top:15px;
}
.content.content_menu .img_rub {
	display:block;
	position:absolute;
	bottom:0;
	right:0;
}
.content.content_menu a {
	color:#fff;
	text-decoration:none;
}
.content.content_menu a:hover {
	text-decoration:underline;
}
.home_article .content .image_top img {
	display:block;
	border:0px solid #000;
}
.home_article h2, .home_footer h2 {
	color:#fff;
	margin-top:25px;
	position:relative;
	margin-bottom:0px;
}
.home_article h3, .home_footer h3, .home_article h3 a, .home_footer h3 a {
	color:#7fac17;
	text-decoration:none;
	margin:12px 0;
	font-size:1em;
}
.home_article h3 a:hover, .home_footer h3 a:hover {
	color:#7fac17;
	text-decoration:underline;
}
.home_article .legend, .home_footer .legend {
	color:#fff;
	font-size:.9em;
	line-height:1.2em;
}
.home_footer .objects {
	overflow:hidden;
	position:relative;
}
.home_footer object {
	display:block;
}
/*--- [/HOME ARTICLE] ---*/
/*--- [/HOMEPAGE NEWS] ---*/

/*--- [SEARCH PAGE] ---*/
.article .details-form {
	font-size:.7em;
}
.article .search .fieldsetwrapper {
	background:#ededed;
	margin:10px 0 30px 0;
	padding:15px 0;
}
.article .search.searchtiny .fieldsetwrapper {
	background:#ededed;
	margin:10px 0 0 0;
	padding:15px 20px;
}
.article .search .fieldsetwrapper > legend {
	color:#000;
	text-decoration:none;
	margin:0 0 0 0;
	font-size:1em;
	width:100%;
	background:transparent url('../img/legendhack.png') repeat-x left -45px;
	margin-top:-15px\9;
	margin-bottom:10px\9;
	*left:-7px;
	*position:relative;
}
.article .search .fieldsetwrapper small {
	font-size:.7em;
}
.article .search small.mentions {
	font-size:.7em;
	display:block;
}
.article .search .errorimg {
	display:none;
}
.article .search .ritch_text_wrapper {
	margin:0 0 10px 0;
}
.article .search .tx_powermail_pi1_fieldwrap_html,
.article .search .searchwrapwysiwyg,
.article .search .searchwrapinline {
	display:block;
	margin-bottom:15px;
	padding:0 20px;
	position:relative;
	clear:left;
}
.article .search .tx_powermail_pi1_fieldwrap_html a {
	text-decoration:none;
	position:relative;
	vertical-align:top;
}
.article .search .tx_powermail_pi1_fieldwrap_html a dfn {
	position:absolute;
	top:-15px;
	left:-100000px;
	color:#fff;
	font-size:.9em;
	white-space:nowrap;
	background:#000;
	padding:2px 5px;
}
.article .search .tx_powermail_pi1_fieldwrap_html a:hover dfn,
.article .search .tx_powermail_pi1_fieldwrap_html a:focus dfn {
	left:15px;
}
.article .search .searchwrapdatepicker {
	display:relative;
}
.article .search .tx_powermail_pi1_fieldwrap_html > label {
	float:left;
	display:block;
	width:150px;
	font-size:.9em;
	margin-bottom:20px;
}
.article .search .tx_powermail_pi1_fieldwrap_html > label.nodesign {
	float:none !important;
	display:inline !important;
	width:auto !important;
}
.article .search .searchwrapblock label {
	float:none;
	width:100%;
}
.article .search input,
.article .search select,
.article .search textarea {
	font-size:.9em;
}
.article .search .searchwrapwysiwyg label {
	float:none;
	margin-bottom:0px;
}
.article .search input[type="text"],
.article .search input[type="email"],
.article .search input[type="number"],
.article .search textarea,
.article .search select {
	width:450px;
	border:1px solid #646464;
}
.article .search .longinput input[type="text"],
.article .search .longinput input[type="email"],
.article .search .longinput input[type="number"],
.article .search .longinput textarea,
.article .search .longinput select {
	width:504px !important;
}
.article .search .largeinput input[type="text"],
.article .search .largeinput input[type="email"],
.article .search .largeinput input[type="number"],
.article .search .largeinput textarea,
.article .search .largeinput select {
	width:353px !important;
}
.article .search .smallinput input[type="text"],
.article .search .smallinput input[type="email"],
.article .search .smallinput input[type="number"],
.article .search .smallinput textarea,
.article .search .smallinput select {
	width:230px !important;
}
.article .search .cuteinput input[type="text"],
.article .search .cuteinput input[type="email"],
.article .search .cuteinput input[type="number"],
.article .search .cuteinput textarea,
.article .search .cuteinput select {
	width:160px !important;
}
.article .search .tinyinput input[type="text"],
.article .search .tinyinput input[type="email"],
.article .search .tinyinput input[type="number"],
.article .search .tinyinput textarea,
.article .search .tinyinput select {
	width:105px !important;
	margin-right:15px;
}
.article .search .microinput input[type="text"],
.article .search .microinput input[type="email"],
.article .search .microinput input[type="number"],
.article .search .microinput textarea,
.article .search .microinput select {
	width:45px !important;
}
.article .search .tx_powermail_pi1_fieldwrap_html_captcha input[type="text"],
.article .search .tx_powermail_pi1_fieldwrap_html_captcha input[type="email"],
.article .search .tx_powermail_pi1_fieldwrap_html_captcha input[type="number"],
.article .search .tx_powermail_pi1_fieldwrap_html_file input[type="file"] {
	width:250px !important;
}
.article .search .tx_powermail_pi1_fieldwrap_html_file .customfile {
	width:448px !important;
	cursor:pointer;
	overflow:hidden;
	padding:2px;
	position:relative;
}
.article .search .tx_powermail_pi1_fieldwrap_html_file .customfile-input {
	position:absolute;
	cursor:pointer;
	background:transparent;
	border:0;
	top:0px;
	left:0px;
	opacity:0;
	-moz-opacity:0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	z-index:999;
}
.article .search .tx_powermail_pi1_fieldwrap_html_file .customfile-button {
	background:#000;
	color:#fff;
	padding:0px 15px;
	margin-top:1px;
	font-size:.9em;
	float:right;
}
.article .search .tx_powermail_pi1_fieldwrap_html_file .customfile-feedback {
	display:block;
	border:1px solid #646464;
	background:#fff;
	font-size:.9em;
	color:#646464;
	font-style:italic;
	padding:0px 5px;
}
.article .search .tx_powermail_pi1_fieldwrap_html_file .customfile-feedback-populated {
	font-style:normal;
	color:#000;
}
.article .search .tx_powermail_pi1_fieldwrap_html_file .customfile-disabled {
	opacity:.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor:default;
}
.article .search .searchwrapdatetime input[type="text"],
.article .search .searchwrapdatetime input[type="email"],
.article .search .searchwrapdatetime input[type="number"] {
	width:70px !important;
	margin:0 20px 0 0;
	text-align:right;
}
.article .search .searchwrapdatetime input[type="text"].lastinput,
.article .search .searchwrapdatetime input[type="email"].lastinput,
.article .search .searchwrapdatetime input[type="number"].lastinput {
	margin-right:0px !important;
}
.article .search .searchwrapdatepicker input[type="text"],
.article .search .searchwrapdatepicker input[type="email"],
.article .search .searchwrapdatepicker input[type="number"] {
	width:265px !important;
}
.article .search .tx_powermail_pi1_fieldwrap_html_date .form-help {
	margin-left:-20px;
}
.article .search legend {
	font-weight:bold;
	padding:0 0 10px 0;
}
.article .search fieldset div legend {
	font-weight:normal !important;
}
.article .search .searchwrapwysiwyg textarea {
	width:600px !important;
}
.article .search input[type="text"].invalid,
.article .search input[type="email"].invalid,
.article .search input[type="number"].invalid,
.article .search textarea.invalid,
.article .search select.invalid,
.article .search .searchwrapdatepicker input .invalid,
.article .search input[type="date"] .invalid {
	border:2px solid #bd0305;
}
.article .search small.mentions.invalid {
	color:#bd0305;
}
.article .search .errorimg {
	display:inline;
	vertical-align:top;
}
.article .search .powermail_check_inner,
.article .search .powermail_radio_inner {
	display:block;
	clear:both;
}
.article .search .powermail_check_inner label,
.article .search .powermail_radio_inner label {
	/*float:none;*/
	display:inline;
	font-size:.9em;
}
.article .search .labelleft label {
	clear:left;
	float:left;
	margin-right:5px;
}
.article .search .searchwrapinline legend {
	float:left;
}
.article .search .searchwrapinline .powermail_check_inner,
.article .search .searchwrapinline .powermail_radio_inner {
	float:left;
	clear:none;
	margin-left:10px;
}
.article .search .tx_powermail_pi1_fieldwrap_html_submit,
.article .search .tx_powermail_pi1_fieldwrap_html_reset {
	text-align:right;
	clear:both;
	margin-bottom:0px;
}
.article .search .tx_powermail_pi1_fieldwrap_html_submit input,
.article .search .tx_powermail_pi1_fieldwrap_html_submit button {
	background:#000;
	color:#fff;
	border:1px solid #646464;
	padding:5px 15px;
	font-size:.9em;
}
.article .search .tx_powermail_pi1_fieldwrap_html span.submit {
	background:#000;
	color:#fff;
	padding:0px 15px;
	margin-top:1px;
}
.article .search .tx_powermail_pi1_fieldwrap_html_reset input {
	background:#ededed;
	color:#282828;
	border:0px solid #bbb;
	padding:0;
	font-size:.8em;
	text-decoration:underline;
}
.article .search .icon_info {
	vertical-align:top;
}
.article .search .calendarimg {
	vertical-align:top;
}
/*--- [/SEARCH PAGE] ---*/

/*--- [CALENDAR] ---*/
#calroot {
	z-index:10000;
	margin-top:-1px;
	width:198px;
	padding:2px;
	background-color:#fff;
	font-size:.9em;
	border:1px solid #646464;
}
#calhead {	
	padding:2px 0;
	height:22px;
} 
#caltitle {
	font-size:1em;
	color:#0071b6;
	float:left;
	text-align:center;
	width:155px;
	text-shadow:0 1px 0 #ddd;
}
#calnext, #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent no-repeat scroll center center;
	cursor:pointer;
}
#calprev {
	background-image:url(../img/prev.gif);
	float:left;
}
#calnext {
	background-image:url(../img/next.gif);
	float:right;
}
#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;
}
/* year/month selector */
#caltitle select {
	font-size:.9em;
}
/* names of the days */
#caldays {
	height:14px;
}
#caldays span {
	display:block;
	float:left;
	width:28px;
	text-align:center;
	font-size:.8em;
}
/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top:4px;
}
/* single week */
.calweek {
	clear:left;
	height:22px;
}
/* single day */
.calweek a {
	display:block;
	float:left;
	width:27px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	color:#666;
} 
/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}
/* sunday */
a.calsun {
	color:red;
}
/* offmonth day */
a.caloff {
	color:#ccc;
}
a.caloff:hover {
	background-color:#f5f5fa;
}
/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc !important;
	cursor:default;
}
/* current day */
#calcurrent {
	background-color:#7fac17;
	color:#fff;
}
/* today */
#caltoday {
	background-color:#a6c55d;
	color:#333;
}
/*--- [/CALENDAR] ---*/

/*--- [FORM LEFT] ---*/
.formLeft .formLeftItem {
	font-weight:bold;
	font-size:1.1em;
	display:block;
	padding:5px 0;
}
.formLeft .formLeftItem.nocursor {
	cursor:default;
}
.formLeft select,
.formLeft input {
	font-size:.9em;
}
.formLeft select {
	width:100%;
	height:21px;
	margin:0 0 10px;
	font-weight:bold;
	border:1px solid #646464;
}
.formLeft .tag {
	background:#fff;
	border:1px solid #646464;
	margin:0 0 10px;
	position:relative;
}
.formLeft .tag .delete {
	font-size:.8em;
	position:absolute;
	right:0px;
	top:-25px;
}
.formLeft .tag .mot-cle {
	width:179px;
	height:21px;
	font-weight:bold;
	border:none;
	padding-right:3px;
	padding-left:3px;
	border-right:1px solid #646464;
	color:#000;
	display:block;
}
.formLeft .delete-tag {
	color:#e50808;
	font-weight:bold;
	position:absolute;
	top:0;
	right:4px;
}
/*.formLeft .delete-tag:hover {
	cursor:pointer;
}*/
.formLeft .formSubmit {
	text-align:right;
}
.formLeft .formSubmit input {
	background:#000;
	color:#fff;
	border:1px solid #646464;
	padding:5px 15px;
	margin:10px 0 0;
}
/*--- [/FORM LEFT] ---*/

/*--- [RESULTS] ---*/
.page_content .search_terms {
	float:left;
	font-size:1em;
	margin:28px 0 0 0;
	color:#000;
	font-weight:bold;
}
.pagination {
	clear:right;
	color:#000;
	text-align:right;
	font-size:.8em;
	list-style:none;
	padding-left:0px;
	padding-top:26px;
	display:block;
	margin-bottom:14px;
}
*+html .pagination {
	padding-top:14px;
	white-space:nowrap;
}
.pagination.bottom {
	margin-bottom:14px;
	margin-top:-10px;
	padding-top:0px !important;
}
.pagination li {
	display:inline;
	padding:0;
}
.pagination a {
	color:#0078bd;
	text-decoration:none;
}
.pagination a:hover {
	color:#0078bd;
	text-decoration:underline;
}
.pagination a.previous {
	padding-left:10px;
	background:url('../img/left_arrow_link.png') no-repeat 0% 50%;
}
.pagination a.next {
	padding-right:10px;
	background:url('../img/right_arrow_link.png') no-repeat 100% 50%;
}
.pagination .separateur {
	color:#8a8a8a;
}
/*--- [/RESULTS] ---*/

/*--- [DELIBERATIONS] ---*/
.deliberation h2,
.deliberation h3,
.deliberation h2 a,
.deliberation h3 a {
	color:#0071b6;
	text-decoration:none;
}
.deliberation h2 {
	margin:34px 0 0 0;
	font-size:1.2em;
	float:left;
	clear:left;
}
.deliberation .chapeau {
	float:left;
	clear:left;
}
.deliberation h3 {
	font-size:1em;
}
.deliberation h4 {
	margin-bottom:0px;
	margin-top:30px;
	font-size:.9em;
}
.deliberation .ritch_text_wrapper {
	font-size:1em;
	margin-bottom:15px;
}
.list-file {
	margin:10px 0 20px 0;
	padding:0 0 0 0;
	list-style:none;
}
.list-file li {
	margin-bottom:5px;
}
.list-file .main-file {
	margin-bottom:15px;
}
.list-file a {
	padding-left:25px;
	background:url('../img/list-file.png') no-repeat 0% 50%;
	color:#282828;
	text-decoration:none;
	font-size:.9em;
}
.list-file .pdf a {
	padding-left:50px;
	background:url('../img/list-pdf.png') no-repeat 0% 50%;
	font-weight:bold;
}
.list-file a:hover {
	text-decoration:underline;
}
/*--- [/DELIBERATIONS] ---*/

/*--- [ALL ARTICLES] ---*/
.nnews-list-item {
	position:relative;
	margin-bottom:20px;
}
.nnews-list-item .hr {
	margin-bottom:20px;
}
.nnews-list-content {
	position:relative;
	margin-left:238px;
}
.nnews-list-item .nnews-list-image {
	float:left;
	height:128px;
	margin:0 20px 0 0;
	width:218px;
}
.nnews-list-item .nnews-list-date {
	font-size:.7em;
	color:#2b77b5;
	font-weight:bold;
}
.nnews-list-item .nnews-list-category {
	font-size:.7em;
	color:#000;
	font-weight:bold;
	text-transform:uppercase;
}
.nnews-list-item h2,
.nnews-list-item h2 a {
	color:#000;
	font-size:1em;
	font-weight:bold;
	text-decoration:none;
	margin:10px 0 5px 0;
}
.nnews-list-item h2 a:hover {
	color:#000;
	text-decoration:underline;
}
.nnews-list-item .ritch_text_wrapper {
	margin-bottom:15px;
}
.nnews-list-item .nnews-list-tags {
	font-size:.7em;
	color:#2b77b5;
	text-decoration:none;
	text-transform:uppercase;
}
.nnews-list-item .nnews-list-tags a {
	color:#2b77b5;
	text-decoration:none;
}
.nnews-list-item .nnews-list-tags a:hover {
	color:#2b77b5;
	text-decoration:underline;
}
/*--- [/ALL ARTICLES] ---*/

/*--- [PRESSE] ---*/
.presseaccueil .col_left {
	margin:55px 0 0 0;
}
.presseaccueil .aside {
	margin:40px 0 0 0;
}
.presseliste h2 {
	color:#0071b6;
	text-decoration:none;
	margin:34px 0 0 0;
	font-size:1.2em;
}
h2.marginit {
	color:#0071b6;
	text-decoration:none;
	margin:0 0 5px 0;
	font-size:1.2em;
}
.presseliste h3 {
	margin-bottom:5px;
	margin-top:5px;
	color:#000;
}
.presseliste .pub_date,
.presseliste .pub_cat {
	float:none;
	display:inline;
}
.presseliste .ritch_text_wrapper a {
	color:#000;
	text-decoration:none;
}
.presseliste .ritch_text_wrapper a:hover {
	color:#000;
	text-decoration:underline;
}
.presseliste .list-file a {
	font-weight:bold;
}
.presselink {
	text-align:right;
	margin-bottom:20px;
}
.presselink a {
	color:#0071b6;
	text-decoration:underline;
	font-weight:bold;
	font-size:.9em;
}
/*--- [/PRESSE] ---*/

/*--- [RECRUTEMENT] ---*/
.recru_ref, .recru_buttons {
	list-style:none;
	margin:0 0 25px 0;
	padding:0 0 0 0;
}
.recru_ref {
	font-size:.9em;
}
.recru_buttons .left {
	float:left;
}
.recru_buttons .right {
	float:right;
}
.recru_buttons a {
	color:#fff;
	background:#000;
	padding:2px 10px;
	text-decoration:none;
}
.recru_buttons a:hover {
	text-decoration:underline;
}
.buttongroup {
	background:#fff;
	border:1px solid #646464;
	height:78px;
	overflow-y:scroll;
	padding:2px 5px;
}
.buttongroup label {
	display:block;
	font-size:.9em;
	line-height:1.4em;
}
.no-js .clear_all {
	display:none;
}
.clear_all {
	text-align:right;
}
.clear_all a {
	color:#000;
	text-decoration:none;
	font-size:.9em;
}
.clear_all a:hover {
	text-decoration:underline !important;
}
.no-js .blockmetier,
.no-js .blockdisplay {
  display:none !important;
}
.recru_search {
	clear:both;
	padding:10px 10px 20px;
}
.recru_search.even {
	background:#ededed;
}
.recru_search .publication_date {
	font-size:.6em;
	margin:0 0 10px;
	color:#3170a3;
	font-weight:bold;
	text-transform:uppercase;
}
.recru_search a {
	color:#000;
	font-size:.9em;
	text-decoration:none;
}
.recru_search a:hover {
	text-decoration:underline;
}
.recru_search h3 {
	color:#000;
	font-size:1.1em;
	margin:0 0 4px;
}
.article .search .tx_powermail_pi1_fieldwrap_html.blockmetier small {
	display:block;
	padding:0 0 5px 0;
}
.blockmetier .active {
	display:inline;
}
.blockmetier .inactive {
	display:none;
}
/*--- [/RECRUTEMENT] ---*/

/*--- [RECHERCHE] ---*/
.recherche legend {
	background:#cbcbcb !important;
	border-bottom:1px solid #3b3b3b !important;
	display:block !important;
	font-weight:normal !important;
	padding:5px 0 5px 0 !important;
	width:100% !important;
	color:#000 !important;
}
.recherche legend strong {
	padding-left:10px;
}
.recherche .fieldsetwrapper {
	padding:0 0 10px 0 !important;
}
.recherche .tx_powermail_pi1_fieldwrap_html {
	margin-bottom:0px !important;
	padding:15px 20px 0 !important;
}
.recherche .tx_powermail_pi1_fieldwrap_html > label.medium {
	width:205px !important;
	text-align:right;
	padding-right:10px;
}
.recherche .tx_powermail_pi1_fieldwrap_html > label.small {
	width:105px !important;
	text-align:right;
	padding-right:10px;
}
.recherche .tx_powermail_pi1_fieldwrap_html > label.black {
	color:#000;
}
.article .search .totalinput input[type="text"],
.article .search .totalinput input[type="email"],
.article .search .totalinput input[type="number"],
.article .search .totalinput textarea,
.article .search .totalinput select {
	width:660px !important;
}
.article .search .biginput input[type="text"],
.article .search .biginput input[type="email"],
.article .search .biginput input[type="number"],
.article .search .biginput textarea,
.article .search .biginput select {
	width:436px !important;
}
.article .search .middleinput input[type="text"],
.article .search .middleinput input[type="email"],
.article .search .middleinput input[type="number"],
.article .search .middleinput textarea,
.article .search .middleinput select {
	width:310px !important;
	margin-right:37px;
}
.article .search .middleinput input[type="text"].nomargin,
.article .search .middleinput input[type="email"].nomargin,
.article .search .middleinput input[type="number"].nomargin,
.article .search .middleinput textarea.nomargin,
.article .search .middleinput select.nomargin {
	margin-right:0px !important;
}
.article .search .filter select {
	float:left;
}
.article .delibtitle {
	float:left;
	margin-top:20px;
}
.recru_search mark {
	background:#0073b6;
	color:#fff;
	font-style:normal;
	padding:0 3px;
}
/*--- [/RECHERCHE] ---*/

/*--- [FAQ] ---*/
.faq h2 {
	color:#0071b6;
	font-size:1em;
	margin:20px 0 5px;
	text-decoration:none;
}
.faq .tx-irfaq-pi1 > p {
	background:#d9d9d9 url('../img/faqarrow-on.png') no-repeat 5px 50%;
	border:1px solid #b2b2b4;
	margin:0;
	padding:2px 0 2px 30px;
}
.faq .tx-irfaq-pi1 > p.off {
	background:#d9d9d9 url('../img/faqarrow-off.png') no-repeat 5px 50%;
}
.no-js .faq .tx-irfaq-pi1 > p {
	display:none;
}
.faq .tx-irfaq-pi1 > p a {
	color:#4c4c4c;
	font-size:.9em;
	text-decoration:none;
	padding-left: 25px;
	margin-left: -25px;
}
.faq .tx-irfaq-pi1 > p a:hover {
	color:#4c4c4c;
	text-decoration:underline;
}
.faq .tx-irfaq-pi1 dl {
	margin-top:5px;
}
.faq .tx-irfaq-pi1 dt {
	margin-top:20px;
	position:relative;
}
.faq .tx-irfaq-pi1 dt a {
	color:#383838;
	font-weight:bold;
	font-size:.9em;
	padding-left:18px;
	margin-left:-18px;
	text-decoration:none;
}
.faq .tx-irfaq-pi1 dt a:hover {
	text-decoration:underline;
}
.faq .tx-irfaq-pi1 dt.first {
	margin-top:0px;
}
.no-js .tx-irfaq-pi1 dt .sign {
	display:none;
}
.js .tx-irfaq-pi1 dt .sign.sign-minus {
	display:none;
}
.faq .tx-irfaq-pi1 dt:hover {
	cursor:pointer;
}
.js .faq .tx-irfaq-pi1 dd.tx-irfaq-dynans-hidden {
	display:none;
}
.js .faq .tx-irfaq-pi1 dd.tx-irfaq-dynans-display {
	display:block;
}
.faq .tx-irfaq-pi1 dd {
	color:#383838;
	font-size:.9em;
	margin-left:18px;
}
/*--- [/FAQ] ---*/

/*--- [SITEMAP] ---*/
.sitemap .tx-dropdownsitemap-pi1 ul,
.sitemap .tx-dropdownsitemap-pi1 ol {
	list-style:none;
	margin:0px;
	padding:0px;
}
.sitemap .tx-dropdownsitemap-pi1 a {
	color:#383838;
	text-decoration:none;
	padding-left:25px;
	margin-left:-25px;
}
.sitemap .tx-dropdownsitemap-pi1 a:hover {
	color:#383838;
	text-decoration:underline;
}
.sitemap .tx-dropdownsitemap-pi1 div {
	margin:2px 0 0;
	padding:2px;
}
.sitemap .tx-dropdownsitemap-pi1 .expAll {
	background:#d9d9d9 url('../img/faqarrow-on.png') no-repeat 5px 50%;
	border:1px solid #b2b2b4;
	margin:0 0 10px;
	padding:2px 0 2px 30px;
}
.sitemap .tx-dropdownsitemap-pi1 .expAll.off {
	background:#d9d9d9 url('../img/faqarrow-off.png') no-repeat 5px 50%;
}
.no-js .sitemap .tx-dropdownsitemap-pi1 .expAll {
	display:none;
}
.sitemap .tx-dropdownsitemap-pi1 .expAll a {
	color:#4c4c4c;
	font-size:.9em;
	text-decoration:none;
}
.sitemap .tx-dropdownsitemap-pi1 .expAll a:hover {
	color:#4c4c4c;
	text-decoration:underline;
}
.sitemap .tx-dropdownsitemap-pi1 li.open ol,
.sitemap .tx-dropdownsitemap-pi1 li.open ul {
	display:block;
}
.sitemap .tx-dropdownsitemap-pi1 li.closed ol,
.sitemap .tx-dropdownsitemap-pi1 li.closed ul {
	display:none;
}
.no-js .sitemap .tx-dropdownsitemap-pi1 li ol,
.no-js .sitemap .tx-dropdownsitemap-pi1 li ul {
	display:block;
}
.sitemap .tx-dropdownsitemap-pi1 span.ifsub {
	font-weight:bold;
}
.sitemap .tx-dropdownsitemap-pi1 span.spc {
	font-style:italic;
}
.sitemap .tx-dropdownsitemap-pi1 .description {
	font-style:italic;
	font-size:80%;
	margin-left:5px;
}
.sitemap .tx-dropdownsitemap-pi1 > ol ol {
	margin-left:30px;
}
.sitemap .tx-dropdownsitemap-pi1 > ol ol .ifsub a {
	color:#7fad18;
	text-decoration:none;
}
.sitemap .tx-dropdownsitemap-pi1 > ol ol .ifsub a:hover {
	color:#7fad18;
	text-decoration:underline;
}
.sitemap .tx-dropdownsitemap-pi1 div.level_2 {
}
.sitemap .tx-dropdownsitemap-pi1 div.level_3 {
}
.sitemap .tx-dropdownsitemap-pi1 div.level_4 {
}
.sitemap .tx-dropdownsitemap-pi1 div.level_5 {
}
.sitemap .tx-dropdownsitemap-pi1 img {
	margin-right:5px;
}

.js .sitemap .sitemapactions > ol .off {
	display:none;
}
.js .sitemap .sitemapactions > ol ol,
.js .sitemap .sitemapactions > ol ol.ol-hidden {
	display:none;
}
.js .sitemap .sitemapactions > ol ol.ol-display {
	display:block;
}
.no-js .sitemap .sitemapactions .on {
	display:none;
}
/*--- [/SITEMAP] ---*/

/*--- [MAGAZINE] ---*/
.js .menu_access .leftside a {
	display:none;
}
.magazine_image {
	left:0;
	position:absolute;
	top:0;
}
.menu_magazine,
.menu_magazine ul {
	color:#fff;
	left:0;
	list-style:none;
	margin:0 0 0 0;
	padding:0 0 0 0;
	position:relative;
	width:330px;
}
.menu_magazine {
	float:left;
}
.menu_magazine ul {
	height:300px;
	overflow-y:auto;
}
.menu_magazine .logo {
	margin:0 0 0 0;
	padding:10px 0 30px 0;
}
.menu_magazine .logo a {
	padding:0 0 0 0 !important;
}
.menu_magazine .logo a:focus,
.menu_magazine .logo a:hover {
	background:transparent !important;
	padding:0 0 0 0 !important;
}
.menu_magazine h1 {
	color:#fff;
	font-size:1.2em;
	font-weight:bold;
	line-height:1.2em;
	margin:40px 0 20px 0;
	padding:0 5px 0 25px;
}
.menu_magazine h2 {
	color:#000;
	display:block;
	font-size:.9em;
	padding:0 5px 0 25px;
	margin:0;
	text-decoration:none;
}
.menu_magazine h3 {
	background:#000;
	color:#fff;
	font-size:1em;
	font-weight:bold;
	margin:15px 0 5px 0;
	padding:2px 5px 2px 25px;
}
.menu_magazine a {
	color:#000;
	display:block;
	font-size:.9em;
	padding:2px 5px 2px 25px;
	text-decoration:none;
}
.menu_magazine a.active,
.menu_magazine a:hover,
.menu_magazine a:focus {
	background:#fff;
	color:#000;
	text-decoration:none;
}
.js .magazinecontent,
.js .magazineaccueil {
	height:666px;
	overflow:hidden;
}
.no-js .magazinecontent,
.no-js .magazineaccueil {
	height:666px;
	overflow-y:auto;
}
.magazinenews {
	background:#fff;
	height:586px;
	padding:40px 75px !important;
	position:relative;
	overflow-y:auto;
}
.magazinenews.first {
	background:transparent !important;
}
.js .magazinenews {
	display:none;
}
.magazinenews h1 {
	color:#669900;
	font-size:1.4em;
	font-weight:bold;
	line-height:1.2em;
	margin:0 0 0 0;
}
.magazinenews a.previous {
	display:block;
	left:20px;
	margin-top:-28px;
	position:absolute;
	top:50%
}
.magazinenews a.next {
	display:block;
	right:20px;
	margin-top:-28px;
	position:absolute;
	top:50%
}
.no-js .magazinenews a.previous,
.no-js .magazinenews a.next {
	display:none;
}
.magazinenews .ritch_text_wrapper {
	font-size:.8em;
}
/*--- [/MAGAZINE] ---*/
